<a class="btn btn-dark header-btn d-flex flex-column px-2" href="/profile">
    <span class="bi bi-person-fill fs-5"></span>Profile</a>
<a class="btn btn-dark header-btn d-flex flex-column px-2" href="/podcasts/create">
    <span class="bi bi-upload fs-5"></span>Upload</a>
<a class="btn btn-dark header-btn d-flex flex-column px-2" href="">
    <span class="bi bi-currency-dollar fs-5"></span>Billing</a>
<a class="btn btn-dark header-btn d-flex flex-column px-2" href="/sign/out">
    <span class="bi bi-key-fill fs-5"></span>Logout</a>