<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>podScholar</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/PodScholars-removebg-preview.png" />

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />
    <link href="/css/cards.css" rel="stylesheet" />

    <!--Bootstrap JS/Popper Bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--jquery hosted locally-->
    <script src="/js/jquery-3.6.0.js"></script>

    <!--header script-->
    <script src="/js/script.js"></script>

</head>

<body>
    <!-- Navigation-->
    <%- include('./components/nav.html') %>
        <!-- Section-->
        <main class="py-4 d-flex flex-column">
            <%- include('./components/searchBar.html') %>
                <div class="container px-4 px-md-5 mt-3">
                    <h3>Recent Activity</h3>
                    <div id="cards-here" class="row row-col-1 justify-content-center px-md-5">
                        <%- include('./components/card.html'); %>
                    </div>
                </div>
        </main>
        <!-- Footer-->
        <%- include('./components/footer.html') %>
            <script>
                ajaxStuff("/api/podcasts/newest");
            </script>
</body>

</html>