.clamper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-header {
    background-color: #ffcd39;
}

.card-tag {
    color: white;
    background-color: #212529;
    border-color: #212529;
}

.card-tag:hover {
    background-color: #171a1c;
    border-color: #171a1c;
}

.card-footer {
    background-color: #f1f3f4;
}

.card-footer-btn-firefox {
    background-color: rgba(26, 26, 26, .8);
}

.card-TitleMan {
    font-family: "Aleo", Serif;
    font-weight: 700;
}

.card-authors {
    font-family: "Aleo", serif;
    font-weight: 400;
}

.card-container {
    width: 100%;
}

@media (min-width: 768px) {
    .card-container {
      width : 50%;
    }
  }
