.header-Logo {
    user-select: none;
    font-family: 'Aleo', serif;
    font-weight: 700;
}

.header-btn {
    height: 100%;
    font-size: 0.8rem;
}

.header-btn:hover {
    height: 100%;
}

.header-btn:active {
    height: 100%;
}