<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>podScholar</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/PodScholars-removebg-preview.png" />

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />

    <!--Bootstrap JS/Popper Bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--jquery hosted locally-->
    <script src="/js/jquery-3.6.0.js"></script>

    <script src="/js/script.js"></script>
</head>

<body class="container-fluid m-0 p-0">
    <!-- Navigation-->
    <%- include('../components/nav.html') %>
        <!-- Section-->
        <main class="d-flex justify-content-center my-4 container-fluid">
            <div class="col-sm-8 text-left">
                <h1>About PodScholar</h1>
                <p>PodScholar is a platform for scholars to podcast their published work. Each podcast provides the scholar an opportunity to discuss their manuscript with an informative and conversational tone. Each podcast is created by a scholar or research
                    group and each podcast corresponds to one of the scholar’s published articles. Scholars are encouraged to discuss all main parts of the published work including, but not limited to the introduction, methods, results and discussion
                    sections. Scholars now have a platform to broadcast their work as a dialogue in which they have autonomy as to how they want to explain and discuss their own scholarship. The rules for podcasting are straight forward, but the most
                    basic rule is one podcast per one published article!</p>
                <p>Currently, PodScholar podcasts are limited to a 20-minute maximum duration. Podcasts include the journal link to help listeners find the published article for further reading and dissemination. The PodScholar audio library will increase
                    as more scholars upload their content. Any published scholarship can be podcasted and uploaded, regardless of date published and discipline. PodScholar aims to create the world’s largest audio library of scholarly activity which is
                    created and narrated by the professionals who conducted the research. Join the PodScholar community to upload, listen, and share!</p>
            </div>
        </main>
        <!-- Footer-->
        <%- include('../components/footer.html') %>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>